<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<style>
	
body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}


h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  color: #cccccc;
}

</style>
<div  style="background-color:rgb(32, 13, 128);height: 100px; ">
	<h2 style="color: White;margin-left: 40%;font-size: 200%">Listener for Deaf</h2>

</div>
<br>
<br>
<br>
<video style="margin-left : 25%" src= "{{ video_path }}" poster="initial_static_picture.jpg" width="680" autoplay controls>
</video>
<div style="margin-left: 40%"><h3>Text : {{ sentence }}</h3></div>	


</body>
</html>